header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-tertiary-color);
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 16px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

.header-nav {
  display: none;
}

.img-menu {
  width: 32px;
  height: 32px;
}
