.bottom-hero {
  width: 100%;
  margin: 0;
}

.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/veneza-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-family: montserrat;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/*pacote de viagem*/

.travel-packet.hero {
  margin-bottom: 88px;
}

.travel-packet .hero-img {
  height: 460px;
  background: url(../img/japão-montanha-mobile.jpg) no-repeat;
  background-size: cover;
}

.travel-packet .hero-content {
  padding: 65px 24px;
}

.travel-packet .hero-content h1 {
  font-size: 40px;
  color: var(--text-secundary-color);
  font-weight: var(--titles-weight);
}

.travel-packet .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packet .hero-content p {
  font-size: 20px;
  color: var(--text-secundary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/veneza-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /*pacote de viagem*/

  .travel-packet .hero-content {
    padding: 210px 70px 107px;
  }

  .travel-packet .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  .travel-packet .hero-img {
    height: 620px;
    background: url(../img/japão-montanha-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/veneza-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }

  /* PACOTES DE VIAGENS */
  .travel-packet .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .travel-packet .hero-content p {
    width: 570px;
  }

  .travel-packet .hero-img {
    background: url(../img/japão-montanha-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1440p) {
  .travel-packet .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
