.paymants .image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.paymants .content-container .image-content .image.bag {
  background: url(../img/Montagem\ japão\ 1.png) no-repeat;
  background-size: cover;
}

.paymants .content-container .image-content .image.passport {
  background: url(../img/Montagem\ japão\ 2.png) no-repeat;
  background-size: cover;
}

.paymants .content-container .image-content .image.people {
  background: url(../img/Montagem\ japão\ 3.png) no-repeat;
  background-size: cover;
}

.paymants .content-container .image-content .image.coslpan-2 {
  grid-column: span 2;
}

/*pacote de viagem*/

.travel-packet.content-title {
  font-size: 40px;
}

.travel-packet.paymants .content-container p {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .paymants .content-container .image-content .image.bag {
    background: url(../img/Montagem\ japão\ 1-tablet.png) no-repeat;
    background-size: cover;
  }

  .paymants .content-container .image-content .image.passport {
    background: url(../img/Montagem\ japão\ 2-tablet.png) no-repeat;
    background-size: cover;
  }

  .paymants .content-container .image-content .image.people {
    background: url(../img/Montagem\ japão\ 3-tablet.png) no-repeat;
    background-size: cover;
  }

  /*pacote de viagem*/

  .travel-packet.paymants .content-container a {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .paymants .content-container {
    display: flex;
    justify-content: space-between;
  }

  .paymants .content-container .text-content {
    width: 360px;
  }

  .paymants .content-container .image-content {
    width: 790px;
    margin: 0;
  }
}
